<div class="side-nav-container">

    <div class="profile-picture">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCpY5LtQ47cqncKMYWucFP41NtJvXU06-tnQ&usqp=CAU"
            alt="Profile Picture">
    </div>

    <div class="side-nav-links">
        <a class="side-nav-tab" routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>
        <a class="side-nav-tab" routerLink="/users">
            <mat-icon>group</mat-icon>
            <span>Profile</span>
        </a>
        <a class="side-nav-tab" routerLink="/payments">
            <mat-icon>payment</mat-icon>
            <span>Payment History</span>
        </a>
        <a class="side-nav-tab" routerLink="/slots">
            <mat-icon>calendar_today</mat-icon>
            <span>Booked Slots</span>
        </a>
        <a class="side-nav-tab" routerLink="/plans">
            <mat-icon>stars</mat-icon>
            <span>Book a Slot</span>
        </a>
        <a class="side-nav-tab" routerLink="/membership">
            <mat-icon>fitness_center</mat-icon>
            <span>MyPlan</span>
        </a>
        <a class="side-nav-tab" routerLink="/chats">
            <mat-icon>chat</mat-icon>
            <span>Chat with Admin</span>
        </a>

    </div>
</div>
