<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="membership.component.css">
</head>
<body>
    <div class = "container">
        <h1>Available Plans</h1>
        <div class = "plans">
            <div class="plan1">
                <h2>Starter</h2>
                <p class="price">Rs. 1500/- per month</p>
                <p>Includes Gym and Cardio</p>
                <div class="body1">
                    <ol>
                        <li>Validate for 30 days</li>
                        <li>Access to basic requirements</li>
                        <li>Under Trainer Survilliance</li>
                        <li>500/- Security deposity (Refundable)</li>
                    </ol>
                    <button mat-raised-button color="warn">Get Started Now</button>
                </div>
            </div>
            <div class="plan2">
                <h2>Pro</h2>
                <p class="price">Rs. 7000/- 6 months</p>
                <p>Includes Gym, Cardio and Weight-areas</p>
                <div class="body2">
                    <ol>
                        <li>Validate for 185 days</li>
                        <li>Access to All equipments</li>
                        <li>Guided by Trainer</li>
                        <li>500/- Security Deposit (Refundable)</li>
                    </ol>
                    <button mat-raised-button color="warn">Get Started Now</button>
                </div>
            </div>
            <div class="plan3">
                <h2>Premium</h2>
                <p class="price">Rs. 10000/- per year</p>
                <p>Includes Gym, cardio and Weight-areas</p>
                <div class="body3">
                    <ol>
                        <li>Validate for 365 days</li>
                        <li>Access to All equipments and weights</li>
                        <li>Includes personal trainer</li>
                        <li>No security deposit</li>
                    </ol>
                    <button mat-raised-button color="warn">Get Started Now</button>
                </div>
            </div>
        </div>
    </div>
</body>
